<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ spending?.spendCat }}</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding" >    
    <h3>You spent </h3>
    <p>{{ spending?.spendAmt }} on  {{ spending?.spendDate }}.</p>

    <h3>Description</h3>
    <p>{{ spending?.spendDesc }}</p>
  
  <ion-button expand="block" (click)="deleteSpending(spending.spendId)">
    DELETE SPENDING
  </ion-button>
</ion-content>