<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ spendList?.spendCat }}</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
  <h3>You ernead </h3>
  <p>{{ spendList?.spendAmt }} on  {{ spendList?.spendDate }}.</p>

  <h3>Description</h3>
  <p>{{ spendList?.spendDesc }}</p>
  
  <ion-button expand="block" (click)="deleteSpending(spendList.spendId, spendList.spendCat)">
    DELETE SPENDING
  </ion-button>
</ion-content>