<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>{{ income?.incomeCat }}</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  <h3>You ernead </h3>
  <p>{{ income?.incomeAmt }} € on  {{ income?.incomeDate }}.</p>

  <h3>Description</h3>
  <p>{{ income?.incomeDesc }}</p>
  
  <ion-button expand="block" (click)="deleteIncome(income.incomeId)">
    DELETE INCOME
  </ion-button>
</ion-content>