<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-slides [options]="slideOpthori">

    <ion-slide>
      <ion-card>
        <img src=".\assets\pic\lake.jpg">
        <ion-card-header>
          <ion-card-subtitle>Hey jo there</ion-card-subtitle>
          <ion-card-title>€€€ left for this month</ion-card-title>
        </ion-card-header>
        <ion-card-content>          
          <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>
  
    </ion-slide>
    <ion-slide>
      <ion-card >
        <img src=".\assets\pic\money-rain.jpg">
        <ion-card-header>
          <ion-card-subtitle>Incoming Money</ion-card-subtitle>
          <ion-card-title>You have earned €€€ money this Month! <br> have fun with it</ion-card-title>
        </ion-card-header>
      <!--   <ion-card-content>
          Place for some extra informations
        </ion-card-content> -->
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src=".\assets\pic\spent.jpg">
        <ion-card-header>
          <ion-card-subtitle>Outgoing Money</ion-card-subtitle>
          <ion-card-title>You have spent €€€ so far this Month!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>