<ion-header>
  <ion-toolbar>
    <ion-title>New Income</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form [formGroup]="createIncomeForm" (submit)="createIncome()">
    <ion-item>
      <ion-label stacked>Income Amount</ion-label>
      <ion-input
        formControlName="incomeAmt"
        type="number"
        placeholder="how much?"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Income Category</ion-label>
      <ion-select [(ngModel)]= "incomeCate" formControlName="incomeCat">
        <ion-select-option value ="Work">Work</ion-select-option>
        <ion-select-option value ="Undeclared Work">Undeclared Work</ion-select-option>
        <ion-select-option value ="Pocket Money">Pocket Money</ion-select-option>
        <ion-select-option value ="Others">Others</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date of Income</ion-label>
      <ion-input
        formControlName="incomeDate"
        type="date"
        placeholder="tt.mm.yyyy?"
      >
      </ion-input>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY"[(ngModel)]="income.incomeDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Income Description</ion-label>
      <ion-textarea
        formControlName="incomeDesc"
        type="string"
        placeholder="what did you do for it"
      >
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!createIncomeForm.valid">
      Add Income
    </ion-button>
  </form>
</ion-content>