<ion-header>
  <ion-toolbar>
    <ion-title>addspending</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form [formGroup]="createSpendingForm" (submit)="createSpending()">
    <ion-item>
      <ion-label stacked>Spending Amount</ion-label>
      <ion-input
        formControlName="spendAmt"
        type="number"
        placeholder="how much?"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Spending Category</ion-label>
      <ion-select [(ngModel)]= "spendCate" formControlName="spendCat">
        <ion-select-option value ="Food">Food</ion-select-option>
        <ion-select-option value ="Transport">Transport</ion-select-option>
        <ion-select-option value ="Shopping">Shopping</ion-select-option>
        <ion-select-option value ="Entertainment">Entertainment</ion-select-option>
        <ion-select-option value ="Education">Education</ion-select-option>
        <ion-select-option value ="Others">Others</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date of Spending</ion-label>
      <ion-input
        formControlName="spendDate"
        type="date"
        placeholder="tt.mm.yyyy"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Spending Description</ion-label>
      <ion-textarea
        formControlName="spendDesc"
        type="string"
        placeholder="what did you do for it"
      >
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!createSpendingForm.valid">
      Add Spending
    </ion-button>
  </form>
</ion-content>