<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Spent Money
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list>
      <ion-item
        *ngFor="let spending of spendingList | async"
        routerLink="/spending-deatils/{{spending.spendId}}"
      >
        <ion-label>
          <h2>{{ spending.spendCat}}</h2>
          <p> + {{ spending.spendAmt }}</p>
        </ion-label>
      </ion-item>
  </ion-list>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/addspending">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
